/* colors */
:root {
  --page-col: #E1D4C9;
  --container-col: #665F55;
  --overlay-col: #403F3DCC;
  --text-primary-col: #403F3D;
  --text-inverse-col: #E1D4C9;
  --text-accent-col: #B0907A;
  --border-primary-col: #C1B6AD;
  --border-inverse-col: #665F55;

  --dark-page-col: #292826;
  --dark-container-col: #403F3D;
  --dark-overlay-col: #292826CC;
  --dark-text-primary-col: #E1D4C9;
  --dark-text-inverse-col: #E1D4C9;
  --dark-text-accent-col: #B0907A;
  --dark-border-primary-col: #665F55;
  --dark-border-inverse-col: #C1B6AD;
}

/* fonts */
.font-heading-1 {
  font-weight: 600;
  font-size: 72px;
  line-height: 105%;
}
.font-heading-1-accent {
  font-style: italic;
}
.font-heading-2 {
  font-weight: 600;
  font-size: 60px;
  line-height: 125%;
}
.font-heading-2-accent {
  font-style: italic;
}
.font-heading-3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
}
.font-body-caption {
  font-weight: 600;
  font-size: 10px;
  line-height: 140%;
}
.font-action-button {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}
.font-burger-link {
  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
}
@media (max-width: 380px) {
  .font-heading-1 {
    font-weight: 600;
    font-size: 42px;
    line-height: 115%;
  }
  .font-heading-2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
  }
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  background-color: var(--page-col);
}