.main {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-bottom: 100px;
}
.hero {
  display: grid;
  grid-template-areas: "hero-stack";
  width: 100%;
  height: 644px;
  position: relative;
  overflow: hidden;
}
.hero__bg, .hero__content {
  grid-area: hero-stack;
}
.hero__bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  justify-self: center;
  min-width: 100%;
  border-radius: 40px;
}
.hero__content {
  padding-top: 100px;
  padding-left: 100px;
  width: 50rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: var(--text-inverse-col);
}
@media (max-width: 1000px) {
  .hero__content {
    width: 37rem;
    padding-left: 50px;
  }
}
@media (max-width: 700px) {
  .main {
    margin-bottom: 40px;
  }
  .hero__content {
    padding: 60px 16px 0 16px;
    width: 100%;
  }
  .hero__title, hero__text {
    text-align: center;
  }
}

/* default buttons */
.main-btn {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  width: 200px;
  height: 65px;
  border-radius: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--page-col);
}
.main-btn:link, .main-btn:visited {
  color: var(--text-primary-col);
}
.main-btn__img {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.2s ease, transform 0.2s ease;
}
.main-btn:hover .main-btn__img {
  opacity: 1;
  transform: scale(1);
}
.main-btn:hover .mobile-app-btn__desc {
  color: var(--page-col);
}
.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.carousel-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  max-width: 1360px;
}
@media (max-width: 1000px) {
  .carousel-body {
    gap: 10px;
  }
}
.carousel-title {
  text-align: center;
}
.carousel-btn {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  transition: transform 0.2s ease;
}
@media (max-width: 700px) {
  .carousel-btn {
    display: none;
  }
  .carousel-body {
    justify-content: center;
  }
}
.carousel-icon__bg {
  fill: transparent;
  stroke: var(--border-inverse-col);
  transition: fill 0.2s ease, stroke 0.2s ease;
}
.carousel-icon__logo {
  fill: none;
  stroke: var(--border-inverse-col);
  transition: stroke 0.2s ease;
}
.carousel-btn:hover .carousel-icon__bg {
  fill: var(--border-inverse-col);
  stroke: var(--page-col);
}
.carousel-btn:hover .carousel-icon__logo {
  stroke: var(--page-col);
}
.carousel-card {
  max-width: 480px;
  min-width: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.carousel-card__img {
  max-width: 480px;
  max-height: 480px;
  object-fit: cover;
  margin-bottom: 20px;
}
.carousel-card__title, .carousel-card__text {
  margin-bottom: 16px;
}
.carousel-card__text {
  text-align: center;
  width: 100%;
  white-space: normal;
  overflow-wrap: break-word;
}
.carousel-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.slider-btn {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  transition: transform 0.2s ease;
  fill: var(--border-primary-col);
}
.slider-btn-active {
  fill: var(--border-inverse-col);
}
.about-title {
  text-align: start;
  width: 100%;
}
@media (max-width: 1000px) {
  .about-title {
    text-align: center;
  }
}
@media (max-width: 700px) {
  .carousel-card__img {
    max-width: 330px;
  }
}
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 430px 160px 430px;
  justify-content: center;
  gap: 40px;
  max-width: 1344px;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
}
.gallery__item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
}
.gallery__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}
.gallery__item:hover .gallery__img {
  transform: scale(1.1);
}
.gallery__item--left-top {
  grid-column: 1;
  grid-row: 1 / 3;
}
.gallery__item--right-top {
  grid-column: 2;
  grid-row: 1;
}
.gallery__item--left-bottom {
  grid-column: 1;
  grid-row: 3;
}
.gallery__item--right-bottom {
  grid-column: 2;
  grid-row: 2 / 4;
}
@media (max-width: 900px) {
  .gallery {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 40px;
  }
  .gallery__item--left-top,
  .gallery__item--right-bottom {
    grid-column: auto;
    grid-row: auto;
    height: 600px;

  }
  .gallery__item--right-top,
  .gallery__item--left-bottom {
    display: none;
  }
}
.mobile-app-btn {
  border: 1px solid var(--border-inverse-col);
}
.contacts-wrapper {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.mobile-app {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
}
.mobile-app-offer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-width: 1360px;
}
.mobile-app-btns-wrapper {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.mobile-app-btn:hover {
  color: var(--text-inverse-col);
}
@media (max-width: 1250px) {
  .mobile-app {
    flex-direction: column;
    gap: 100px;
  }
  .nowrap {
    white-space: nowrap;
  }
  .mobile-app-img {
    width: 600px;
  }
}
@media (max-width: 700px) {
  .mobile-app-img {
    width: 348px;
  }
  .mobile-app-btns-wrapper {
    flex-direction: column;
    gap: 20px;
  }
  .mobile-app {
    gap: 40px;
  }
}